<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <style>
        fieldset.scheduler-border {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
        }

        legend.scheduler-border {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Bash Script Generator</a>
</nav>

<main role="main" class="container">
    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf Example</h1>
        <h2>
            <span th:text="'Hello, ' + ${message}"></span>
        </h2>
    </div>

    <!--
    <ol>
        <li th:each="task : ${tasks}" th:text="${task}"></li>
    </ol>
    -->

    <form>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Bash Details</legend>

            <div class="form-group row">
                <label for="scriptName" class="col-sm-2 col-form-label">Script name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="scriptName" placeholder="Script Name">
                </div>
            </div>

        </fieldset>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Bash Inputs</legend>

            <div class="form-group">
                <label for="addCommonInputButtons">Common Inputs</label>

                <div id="addCommonInputButtons" class="input-group mb-3">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-primary btn-sm">
                            <input type="checkbox" name="options" autocomplete="off"> Verbose
                        </label>
                        <label class="btn btn-outline-primary btn-sm">
                            <input type="checkbox" name="options" autocomplete="off"> Quiet
                        </label>
                    </div>
                </div>
            </div>

            <div>
                <hr>
            </div>

            <div class="form-group">
                <label for="scriptInputLongName">Long name</label>
                <input id="scriptInputLongName" type="text" class="form-control" placeholder="Long name">
            </div>
            <div class="form-group">
                <label for="scriptInputShortName">Short name</label>
                <input id="scriptInputShortName" type="text" class="form-control" placeholder="Short name">
            </div>
            <div class="form-group">
                <label for="scriptInputRequired">Required Input</label>
                <input id="scriptInputRequired" type="checkbox" class="form-control">
            </div>
            <div class="form-group">
                <label for="scriptInputHelpText">Help text</label>
                <input id="scriptInputHelpText" type="text" class="form-control" placeholder="Help text">
            </div>

            <div class="form-group">
                <button class="btn btn-outline-secondary btn-sm">Remove this input</button>
            </div>

            <div>
                <hr>
            </div>

            <div class="form-group">
                <button class="btn btn-outline-secondary btn-sm">Add another input</button>
            </div>
        </fieldset>

        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-primary btn-lg">Create Bash Script</button>
                </div>
            </div>
        </div>

    </form>
</main>
<!-- /.container -->
</body>
</html>
